body{
    font-family: sans-serif;
} 
#Courses{
  font-style: italic;
 justify-content:space-between;
   border-style: ridge;
 display: flex;
 border-radius:1%;
 background-image:;
 background-size:cover;
}
#courses img{
    width:auto;
    margin-top: 10%;
    padding: auto;
    border-radius: 20%;
}
.one{
    text-align: center;
    text-decoration: underline;
    color: coral;
}

#courses  img,h3{
    color: blue;
    text-align: center;
}
#courses img,p{
   text-align: center;
   color: green;
}

ul{
    display: flex;
    background-color: rgb(0, 255, 221);
    padding: 25px;
    justify-content: space-around;
    margin: px;
    border-radius: 5rcap;

}
